{% extends 'layout/basic.html' %}
{% load bootstrap4 %}

{% block title %}Скинути пароль{% endblock %}

{% block content %}
  <h1>Скинути пароль</h1>
  {% if validlink %}
    <p>Будь ласка, введіть новий пароль двічі:</p>
    <form action="." method="post">
      {% bootstrap_form form layout='horizontal' %}
      {% csrf_token %}
      <p><input type="submit" value="Змінити мій пароль" class="btn mt-3 btn-primary"></p>
    </form>
  {% else %}
    <p>Посилання для скидання пароля недійсне, можливо тому, що воно вже використовувалося. Будь ласка, запросіть нове скидання пароля.</p>
  {% endif %}
{% endblock %}